.learn-section {
  padding: 50px 0;

  .learning-list {
    border: 1px solid $black;
    width: 80%;

    &__item {
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      li {
        position: relative;
        width: 50%;
      }
    }
  }
}
